<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
            By Team B-16 <br>
            HEM KISHORE PRADHAN <br>
            RASHI RAJ <br>
            SRESTHA PRAGYA SHRIVASTAVA <br>
            NIKEETA MANIKPURI
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2024-2025 <a th:href="@{/}">ASSESSMATE</a>.</strong> All rights reserved.
    </footer>
</div>
</html>
